img{
    display:block;
    margin:auto;
    width: 20%;
    max-width: 100%;
  }
  
 .container{
    font-family: sans-serif;
    width: 360px;
    background: rgb(209, 255, 198);
    margin: auto;
    padding: 20px 20px;
    border-radius: 6px;
 }
  
 #judul {
    font-family: sans-serif;
    font-size: 25px;
    font-weight:bold;
    text-align: center;
    color: rgb(39, 39, 39);
 }
  
 input[type=text],[type=password]{
    font-size: 15px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    background-size: 30px;
    background-position: 5px 5px;
    background-repeat: no-repeat;
    /* padding-left: 20px; */
    border-radius: 5px;
 }
  
 #submit-login{
    width: 100px;
    display:block;
    margin:auto;
    font-size: 15px;
    background: #e41717;
    color: white;
    border: rgb(228, 29, 29) 3px solid;
    border-radius: 5px;
    padding: 12px 20px;
    cursor:pointer;
    margin-top: 10px;
 }

 #submit2{
    width: 128px;
    display:block;
    margin:auto;
    font-size: 15px;
    background: #e41717;
    color: white;
    border: rgb(228, 29, 29) 3px solid;
    border-radius: 5px;
    padding: 12px 20px;
    cursor:pointer;
    margin-top: 10px;
 }
  
 #submit-login:hover, #submit2:hover{
    opacity:0.8;
 }
 
 #main {
    text-align: center;
    font-weight: 550;
    font-size: 17px;
    color: rgb(209, 0, 0);
 }

 #rg{
    color:rgb(28, 28, 28);
    text-decoration:none;
    font-size: 17px;
}

#rg:hover{
    color:blue
}
